<!--{% extends 'catalog/base.html' %}-->

<!--{% block title %}Список продуктов{% endblock %}-->


<!--{% block content %}-->
<!--{% include 'catalog/header.html' %}-->
<!--<h2>Список продуктов</h2>-->
<!--<ul class="list-group">-->
<!--        {% for product in products %}-->
<!--                <li class="list-group-item">-->
<!--                    {{ product.names | upper }} {{ product.description|truncatechars:100 }} {{ product.price }}-->
<!--                </li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% endblock %}-->